<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

  
  <test name="AutomationPracticeIESuite">
    <classes>
      <class name="com.ap.qa.testcases.LoginTest"/>
      <class name="com.ap.qa.testcases.HomePageTest"/>
      <class name="com.ap.qa.testcases.AddToCartPageTest"/>
      <class name="com.ap.qa.testcases.OrderPageTest"/>
    </classes>
  </test>
</suite> <!-- Suite -->
